<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.warriorg.dao.GoodsMapper" >
  <resultMap id="BaseResultMap" type="me.warriorg.pojo.Goods" >
    <id column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="cost_price" property="costPrice" jdbcType="DECIMAL" />
    <result column="sell_price" property="sellPrice" jdbcType="DECIMAL" />
    <result column="inventory" property="inventory" jdbcType="INTEGER" />
    <result column="is_specification" property="isSpecification" jdbcType="CHAR" />
    <result column="spec_info" property="specInfo" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="is_putaway" property="isPutaway" jdbcType="CHAR" />
    <result column="create_id" property="createId" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="CHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="CHAR" />
    <result column="bak1" property="bak1" jdbcType="VARCHAR" />
    <result column="bak2" property="bak2" jdbcType="VARCHAR" />
    <result column="bak3" property="bak3" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_goods
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="me.warriorg.pojo.Goods" >
    insert into tb_goods (goods_id, goods_name, product_id, 
      shop_id, shop_name, cost_price, 
      sell_price, inventory, is_specification, 
      spec_info, status, is_putaway, 
      create_id, create_time, update_id, 
      update_time, is_delete, bak1, 
      bak2, bak3)
    values (#{goodsId,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{productId,jdbcType=INTEGER}, 
      #{shopId,jdbcType=INTEGER}, #{shopName,jdbcType=VARCHAR}, #{costPrice,jdbcType=DECIMAL}, 
      #{sellPrice,jdbcType=DECIMAL}, #{inventory,jdbcType=INTEGER}, #{isSpecification,jdbcType=CHAR}, 
      #{specInfo,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{isPutaway,jdbcType=CHAR}, 
      #{createId,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=CHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=CHAR}, #{bak1,jdbcType=VARCHAR}, 
      #{bak2,jdbcType=VARCHAR}, #{bak3,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="me.warriorg.pojo.Goods" >
    update tb_goods
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=INTEGER},
      shop_id = #{shopId,jdbcType=INTEGER},
      shop_name = #{shopName,jdbcType=VARCHAR},
      cost_price = #{costPrice,jdbcType=DECIMAL},
      sell_price = #{sellPrice,jdbcType=DECIMAL},
      inventory = #{inventory,jdbcType=INTEGER},
      is_specification = #{isSpecification,jdbcType=CHAR},
      spec_info = #{specInfo,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      is_putaway = #{isPutaway,jdbcType=CHAR},
      create_id = #{createId,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=CHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=CHAR},
      bak1 = #{bak1,jdbcType=VARCHAR},
      bak2 = #{bak2,jdbcType=VARCHAR},
      bak3 = #{bak3,jdbcType=VARCHAR}
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select goods_id, goods_name, product_id, shop_id, shop_name, cost_price, sell_price, 
    inventory, is_specification, spec_info, status, is_putaway, create_id, create_time, 
    update_id, update_time, is_delete, bak1, bak2, bak3
    from tb_goods
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select goods_id, goods_name, product_id, shop_id, shop_name, cost_price, sell_price, 
    inventory, is_specification, spec_info, status, is_putaway, create_id, create_time, 
    update_id, update_time, is_delete, bak1, bak2, bak3
    from tb_goods
  </select>
</mapper>