<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.warriorg.dao.ImagesMapper" >
  <resultMap id="BaseResultMap" type="me.warriorg.pojo.Images" >
    <id column="img_id" property="imgId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="img_color" property="imgColor" jdbcType="VARCHAR" />
    <result column="img_path" property="imgPath" jdbcType="VARCHAR" />
    <result column="img_suffix" property="imgSuffix" jdbcType="VARCHAR" />
    <result column="is_master" property="isMaster" jdbcType="CHAR" />
    <result column="img_order" property="imgOrder" jdbcType="INTEGER" />
    <result column="create_id" property="createId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="CHAR" />
    <result column="bak1" property="bak1" jdbcType="VARCHAR" />
    <result column="bak2" property="bak2" jdbcType="VARCHAR" />
    <result column="bak3" property="bak3" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_image
    where img_id = #{imgId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="me.warriorg.pojo.Images" >
    insert into tb_image (img_id, goods_id, img_color, 
      img_path, img_suffix, is_master, 
      img_order, create_id, create_time, 
      update_id, update_time, is_delete, 
      bak1, bak2, bak3)
    values (#{imgId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{imgColor,jdbcType=VARCHAR}, 
      #{imgPath,jdbcType=VARCHAR}, #{imgSuffix,jdbcType=VARCHAR}, #{isMaster,jdbcType=CHAR}, 
      #{imgOrder,jdbcType=INTEGER}, #{createId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=CHAR}, 
      #{bak1,jdbcType=VARCHAR}, #{bak2,jdbcType=VARCHAR}, #{bak3,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="me.warriorg.pojo.Images" >
    update tb_image
    set goods_id = #{goodsId,jdbcType=INTEGER},
      img_color = #{imgColor,jdbcType=VARCHAR},
      img_path = #{imgPath,jdbcType=VARCHAR},
      img_suffix = #{imgSuffix,jdbcType=VARCHAR},
      is_master = #{isMaster,jdbcType=CHAR},
      img_order = #{imgOrder,jdbcType=INTEGER},
      create_id = #{createId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=CHAR},
      bak1 = #{bak1,jdbcType=VARCHAR},
      bak2 = #{bak2,jdbcType=VARCHAR},
      bak3 = #{bak3,jdbcType=VARCHAR}
    where img_id = #{imgId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select img_id, goods_id, img_color, img_path, img_suffix, is_master, img_order, create_id, 
    create_time, update_id, update_time, is_delete, bak1, bak2, bak3
    from tb_image
    where img_id = #{imgId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select img_id, goods_id, img_color, img_path, img_suffix, is_master, img_order, create_id, 
    create_time, update_id, update_time, is_delete, bak1, bak2, bak3
    from tb_image
  </select>
</mapper>